body {
    padding-top: 50px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

div.date-font {
    font-size: 11px;
}

#slots {
    overflow-x: scroll;
    height: 400px;
    max-height: 400px;
}

th {
    font-size: 12px;
    white-space: nowrap;
}

.slotCell {
    background-color: lightgray;
    width: 32px;
    height: 36px;
}

.slotCell:hover {
    background-color: gray;
}

.slotDivider {
    background-color: white;
    width: 2px;
    height: 36px;
}